h1 {
	font-size: 100px;
	font-style: serif;
}

h2 {
	background: #35C0F2;
	border-radius: 10px;
	padding: 5px;
	color: black;
}

a {
	color: #35C0F2;
	text-decoration: none;
}

#container 
	background: black;
	width: 440px;
	color: white;
	padding: 15px;
}
